/* Content Posts */
/* .entry-header {
  background-color: blue;
}
.entry-content {
  background-color: black;
} */

html {
  scroll-behavior: smooth;
}

/* BODY */
body {
  font-family: Arial, sans-serif;
}

ul {
  list-style-type: none !important;
}

.top-header {
  padding: 48px 16px 16px;
  margin-left: 0;
  margin-right: 0;
}

.side-menu {
  position: sticky;
  top: 130px;
}

:target {
  scroll-margin-top: 110px;
}

.side-menu ul li {
  margin-bottom: 16px;
}

.side-menu ul li:hover {
  margin-left: 5px;
  transition: margin-left 0.5s;
}

.bg-header {
  background-color: #fdb515;
}

/* BOX SHADOWS */
.box-sombra {
  box-shadow: 0px 0px 10px 0px rgba(82, 82, 82, 0.5);
  background-color: #ffffff;
  border-radius: 12px;
}

.specialBorder {
  border-bottom: 1px solid #fdb515;
}

/* .cardHome {
  top: 0;
  height: 216px;
  transition: top 0.3s;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
} */

/* .boxCard {
  display: flex;
  justify-content: center;
} */

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-container > div {
  margin: 10px;
}

/* CONTAINERS */
.bloco-container-col-9 {
  max-width: 1010px;
  padding-top: 48px;
  padding-right: 48px;
}

.carousel-item-style {
  height: 300px;
  margin-top: 30px;
  text-align: center;
  color: #fff;
}

.bg-slider {
  background-color: #036b7f;
}

@media (min-width: 992px) {
  .card-container {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .bloco-container,
  .top-header {
    padding: 48px;
  }
}

/* LARGE DEVICES */
@media (min-width: 992px) {
  .bloco-container,
  .top-header {
    padding: 48px 111px;
  }
}

/* EXTRA LARGE DEVICES */
@media (min-width: 1200px) {
  .bloco-container {
    margin: 48px 162px;
    padding: 0;
    max-width: 1010px;
  }

  .top-header {
    padding: 48px 178px;
  }
}

@media (min-width: 1366px) {
  .bloco-container {
    margin: 48px auto;
    padding: 0;
    max-width: 1010px;
  }

  .top-header div,
  .top-header {
    max-width: 1010px;
    margin: 0 auto;
  }
  .top-header {
    padding: 48px 0;
  }
}

/* @media (min-width: 992px) {
  .cardHome {
    font-size: 20px;
  }

  .cardHome:hover {
    top: -15px;
  }
}

@media (min-width: 1366px) {
  .cardHome {
    width: 280px;
  }
} */
