.bg-blue {
  background-color: #00338b;
}

.bg-oxford {
  background-color: #001e50;
}

.bg-violet {
  background-color: #3f1055;
}

.bg-orange {
  background-color: #ec9934;
}

.text-oxford {
  color: #001e50;
}

.start-3 {
  grid-column-start: 3;
}

.d-grid {
  display: grid;
}
