/* BACKGROUND */
.pagina-contato {
  background: url(../../assets/Mascote.svg) 68% 4% no-repeat;
}
/* section{
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 1;
    top: -1418px;
} */

/* .contato-body-color{
    background-color: #58cca4;
} */

/* #curva{
    position: absolute;
    bottom: -1px;
    width: 100%;
} */

/* #header-contato{
    position: relative;
    z-index: 2;
} */

/* CONTATO */
.contato {
  min-height: 500px;
}

/* CABEÇALHO */

#header-contato h1 {
  font-size: 24px;
  margin: 0;
}

#header-contato h2 {
  font-size: 18px;
  margin: 16px 0 32px 0;
}
/* FORMULÁRIO */

.nf-form-fields-required {
  display: none;
}

.box-contato {
  box-shadow: 0px 3px 6px rgba(82, 82, 82, 0.9);
  background-color: #ffffff;
  border-radius: 12px;
  padding: 15px;
  /* position: relative;
    z-index: 2; */
}

#nf-field-4-container {
  display: flex;
  justify-content: center;
}

.nf-form-content input[type='button'].btn-contato {
  background-color: #58cca4;
  color: #fff;
}

.nf-form-content input[type='button'].btn-contato:hover {
  background-color: #51bd98;
  color: #fff;
}

/* MAPA */

#map-adress {
  max-width: 156px;
  font-size: 12px;
}

.map-wrap {
  height: 274px;
}

/* .form-map{
    display: flex;
    flex-direction: column;
} */

/* SMALL DEVICES */

@media (min-width: 576px) {
  #map-adress {
    max-width: 202px;
    font-size: 16px;
  }
}

/* MEDIUM DEVIDES */

@media (min-width: 768px) {
  .map-wrap {
    height: 350px;
  }
}

/* DESKTOP DEVICES */

@media (min-width: 992px) {
  .formulario {
    width: 465px;
  }

  #header-contato h1 {
    font-size: 47px;
    text-align: left;
  }

  #header-contato h2 {
    font-size: 28px;
    text-align: left;
    max-width: 466px;
  }

  /* .form-map{
        flex-direction: row;
        justify-content: space-around;
        max-width: 840px;
        align-items: flex-end;
    } */

  .pagina-contato {
    padding: 0 60px;
    display: grid;
    grid-template-columns: 495px auto;
    grid-template-rows: auto auto;
    column-gap: 24px;
    max-width: 1500px;
  }

  #header-contato {
    grid-column: 1 / span 2;
  }

  .where-are-we {
    align-content: flex-end;
  }
}

/* EXTRA LARGE DEVICES */

@media (min-width: 1200px) {
  .pagina-contato {
    padding: 0 100px;
    column-gap: 48px;
  }
}
