/* LINKS GERAIS */
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  text-decoration: none;
}

a:link,
a:visited {
  color: #001E50;
  text-decoration: none;
}

.dropdown-menu a.dropwdown-item {
  color: #001E50;
}
.side-menu a:link, .side-menu a:visited {
  color: #424242;
}

.active>.side-menu, .title {
  border-left: 5px solid #f08232;
  padding-left: 15px;
}

.btn-fabico {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f08232;
  background-color: #f08232;
  border-radius: 8px;
  height: 35px;
  width: 120px;
  margin-top: 16px;
}
/* 
.navbar-light .navbar-nav .dropdown-item,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link,
.btn-leia,
#btn-sobre,
#btn-historic*/
@media (min-width: 992px) {
  /* Links Hover */
  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .dropdown-item:hover,
  .btn-leia:hover {
    color: #aaa;
    background: none;
  }
}
