/* EQUIPE */
.box-equipe h4 {
  font-size: 16px;
}

.box-equipe p {
  margin: 0;
}

.box-equipe {
  box-shadow: 0px 0px 5px 0px rgba(82, 82, 82, 0.5);
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  height: 135px;
}

h3.equipe-nomes {
  font-size: 22px;
}

/* BORDERS */
.b-left {
  border-left: 5px solid #4dba80;
}
