/* EQUIPE */
.equipe h3 {
  font-size: 16px;
}

.equipe p {
  margin: 0;
}

.box-equipe {
  box-shadow: 0px 0px 5px 0px rgba(82, 82, 82, 0.5);
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
}

h3.equipe-nomes {
  font-size: 22px;
}

/* BORDERS */
.b-left {
  border-left: 5px solid #4dba80;
}

@media (min-width: 768px) {
  .bloco-container {
    padding: 48px;
  }
}

/* LARGE DEVICES */
@media (min-width: 992px) {
  .bloco-container {
    padding: 48px 111px;
  }
}

/* EXTRA LARGE DEVICES */
@media (min-width: 1200px) {
  .bloco-container {
    margin: 48px 162px;
    padding: 0;
    max-width: 1010px;
  }
}

@media (min-width: 1366px) {
  .bloco-container {
    margin: 48px auto;
    padding: 0;
    max-width: 1010px;
  }
}
